body{
    background-color: RGB(19,20,20);
    color: white;
    position: relative;
}
.centered-nav{
    width: 100%;
    text-align: center;
}
hr.bilingual-nav{
    height: 1px;
    background: white;
    margin: 1px 0 1px 0;
}
.underline{
    text-align: center;
}
a.bilingual-nav{
    text-align: center;
}
.dark-theme{
    background-color: RGB(19,20,20);
    color: white;
    position: relative;
}
h1.center{
    text-align: center;
}
div.poetry{
    text-align: center;
    padding-bottom: 5%;
}
div.bilingual-heading{
    max-width: 70%;
    margin: 0 auto 7% auto;
}
.left{
    float: left;
    width: 25%;
}
.right{
    width: 75%;
    margin-left: auto;
}
.timeline{
    height: 100vh;
    background-color: rgb(36, 39, 42) !important;
}
.timeline-body{
    padding-left: 10%;
}
.author{
    text-align:left;
}