body{
    background-color: RGB(19,20,20);
    color: white;
}
.centered-nav{
    width: 100%;
    text-align: center;
}
hr.bilingual-nav{
    height: 1px;
    background: white;
    margin: 1px 0 1px 0;
}
hr.bilingual{
    height: 1px;
    background: white;
    margin: 1px 0 1px 0;
    text-align: center;
}
a.bilingual-nav{
    text-align: center;
}
.dark-theme{
    background-color: RGB(19,20,20);
    color: white;
}
h1.center{
    text-align: center;
}
div.poetry{
    text-align: center;
    padding-bottom: 5%;
}
div.bilingual-heading{
    max-width: 70%;
    margin: 0 auto 7% auto;
}
/*
.timeline{
    width: 5%;
    float: left;
    background-color: RGB(19,20,20);
    align-items: stretch;
    height: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: yellow;
    border-left-style: hidden;
    border-top-style: hidden;
    border-bottom-style: hidden;
}
p.filler{
    color: RGB(19,20,20);
    opacity: 0;
}
div.filler{
    float:left;
}
*/